<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>내 페이지</title>
</head>
<body>
    <h1>댓글(회원) 목록</h1>
    <ul>
    <% for (user of users) { %>
        <li><%= user.userid %></li>
        <li><%= user.username %></li>
        <form action="/update/<%= user.id %>" method="post">
            <input type="text" name="userid">
            <input type="text" name="username">
            <input type="submit" value="수정하기">
        </form>
        <form action="/delete/<%= user.id %>" method="post">
            <input type="submit" value="삭제하기">
        </form>
    <% } %>
    </ul>
    <hr>
    <form action="/create" method="post">
        <input type="text" name="userid"><br>
        <input type="text" name="username"><br><br>
        <input type="submit" value="추가하기">
    </form>
</body>
</html>